<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :save] %>
    <%= label f, :room_number %>
    <%= text_input f, :room_number %>
    <%= submit "Save" %>
</form>

<ul class="hands">
    <%= for card<- @cards do %>
        <li class="card <%=card.class_%>" phx-value-color=<%=card.color%> phx-value-v=<%=card.value%> phx-click="card_click"><%=card.display%></li>
    <% end%>
</ul>
