<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Signin Template · Bootstrap</title>

    <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      form.form-signin{
        width:335px;
        margin:0 auto;
      }
      body{
        background: #f5f5f5;
        padding-top:3em;
      }
      div.error{
        color: red
      }
    </style>
    <!-- Custom styles for this template -->
</head>
<body class="text-center">
<%=form_for @changeset, Routes.account_path(@conn, :create), [class: "form-signin"], fn f ->%>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Email address</label>
    <%= text_input f, :username ,class: "form-control", placeholder: "username"%>
    <label for="password" class="sr-only">Password</label>
    <%= password_input f, :password,class: "form-control", placeholder: "Password"%>
    <%= for message<-@messages do%>
        <div class="error"><%= message%></div>
    <%end%>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
<%end%>
</body>
</html>
